* {
    margin: 0%;
    padding: 0%;
}

div {
    font-family: "Gabarito", sans-serif;
}

.Navybar__s1 {
    color: purple;
}

.Navybar {
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0%;
    background-color: aliceblue;
    z-index: 1;
}

.Navybar__s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    font-size: 20px;
    align-items: center;
}

.Navybar__s2 input {
    border: none;
    width: 950px;
}

.Navybar__s2 input:focus {
    outline: none;
}

.Navybar__s3 {
    display: flex;
    gap: 20px;
}

.Mylearning {
    position: relative;
    cursor: pointer;
}

.Mylearning__offer {
    color: black;
    background-color: white;
    padding: 5px;
    border: solid black 2px;
    width: 100px;
    position: absolute;
    top: 30px;
    display: none;
}

.Mylearning:hover .Mylearning__offer {
    display: block;
}

.Category {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border-bottom: solid black 1px;
}

.Category p {
    color: white;
    background-color: purple;
    padding: 10px;
    border-radius: 30px;
    border: purple solid 2px;
    cursor: pointer;
}
.Category p:hover{
    color: black;
    background-color: white;
}

.Saleimg {
    position: relative;
}

.Saleimg img {
    width: 100%;
}

.Saleimg__offer {
    color: black;
    background-color: white;
    border: solid black 2px;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 10%;
    left: 10%;
    animation-name: size;
    animation-duration: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes size {
    0% {
        opacity: 1;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.Recommended {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.Recommended__container {
    width: 20%;
    padding: 10px;
    flex-wrap: wrap;
}

.Recommended__container img {
    width: 100%;
    height: 50%;
}

.Topic {
    padding: 10px;
}

.Topic__Container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.Topic__Container p {
    border: solid gray 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}

.Popular {
    padding: 10px;
}

.Popular__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    vertical-align: top;
}

.Footer__one {
    display: flex;
    gap: 10px;
}

.Footer__two {
    display: flex;
    justify-content: space-between;
}

.Footer {
    padding: 30px;
    background-color: black;
    color: white;
}

.Footer__one p {
    margin: 20px;
}

.Footer__two p {
    margin: 20px;
    align-items: center;
}